In [1]:
%store -r data
%store -r categories

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
len(data)

33106

## Agrupando y considerando m√°ximos

In [4]:
datac_lasts = data.groupby(['video_id', 'title', 'channel_title', 'category_id']#,
      # 'tags', 'thumbnail_link' , #'description',
      # 'state', 'lat', 'lon', 'geometry',
      #'comments_disabled', 'ratings_disabled', 'video_error_or_removed'],
      #group_keys = False
      ).agg({
            'state'     : 'last',
            'lat'       : 'last',
            'lon'       : 'last',
            'geometry'  : 'last',
            'comments_disabled'     : 'last',
            'ratings_disabled'      : 'last',
            'video_error_or_removed': 'last',
            'trending_date'   : 'last', #['last', 'count'],
            'publish_time'    : 'last',
            'views'           : 'max',
            'likes'           : "max",
            'dislikes'        : "max",
            'comment_count'   : "max",
      })

In [5]:
datac_lasts.droplevel(0)

,,,state,lat,lon,geometry,comments_disabled,ratings_disabled,video_error_or_removed,trending_date,publish_time,views,likes,dislikes,comment_count
title,channel_title,category_id,,,,,,,,,,,,,
#DeepthiSunaina Cheema joke chepthe navvali..Navvandi mari üòÇüòè #BiggBossTelugu2 Today at 9:30 PM,Star Maa,24,Meghalaya,25.570492,91.880014,POINT (91.88001420000001 25.57049217),False,False,False,2018-06-14,2018-06-12 05:44:19+00:00,1014376,5974,1414,1132
#MahaaNews Sensation: #MaheshKathi Leaves From Live Show Not Able To Answer #DirectorVivek Question,Mahaa News,25,Goa,15.491997,73.818001,POINT (73.81800065 15.491997),False,False,False,2018-01-12,2018-01-07 16:00:29+00:00,1912194,23861,2492,9520
#SRK Leaks - No Virgin Actresses In Indian Film Industry | Exclusive,Nettv4u,24,Goa,15.491997,73.818001,POINT (73.81800065 15.491997),False,False,False,2018-04-25,2018-04-22 06:30:00+00:00,432700,2456,439,227
#‡Æö‡Æø‡Æ©‡Øç‡Æ©‡Æ§‡ÆÆ‡Øç‡Æ™‡Æø | 26th February - 2nd March 2018 Promo,Vijay Television,24,West Bengal,22.580390,88.329947,POINT (88.32994665 22.58039044),False,False,False,2018-02-28,2018-02-26 07:06:20+00:00,454944,1447,145,134
"11 December, 2017 The Hindu Discussion, Wassenaar, WTO, Triple talaq, North Korea",only ias,27,Lakshadweep,10.562573,72.636867,POINT (72.63686717 10.56257331),True,True,False,2017-12-12,2017-12-11 02:30:23+00:00,29607,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
‡§Ü‡§ú ‡§π‡•à ‡§Ö‡§Æ‡§æ‡§µ‡§∏‡•ç‡§Ø‡§æ ‡•§‡•§ ‡§Ø‡§π ‡§ü‡•ã‡§ü‡§ï‡§æ ‡§ï‡§∞‡§§‡•á ‡§π‡•Ä ‡§∂‡§§‡•ç‡§∞‡•Å ‡§¨‡§∞‡•ç‡§¨‡§æ‡§¶ ‡•§‡•§ How To Defeat Enemies On Amavasya ‡•§‡•§ Swami Ji,Om Namoh Narayan,26,Jharkhand,23.800393,86.419986,POINT (86.41998572 23.80039349),True,False,False,2018-02-15,2018-02-15 03:38:56+00:00,11876,334,27,0
Mogalirekulu | 31st May 2018 | Gemini TV,Gemini TV,24,Chandigarh,30.719997,76.780006,POINT (76.78000565000001 30.71999697),False,False,False,2018-06-01,2018-05-31 13:08:26+00:00,97600,924,77,125
Bigg Boss 5 Kannada Winner | Kannada Big Boss 5 Winner | Bigg Boss Kannada Season 5 Winner,Namma KFI,24,Lakshadweep,10.562573,72.636867,POINT (72.63686717 10.56257331),False,False,False,2018-01-31,2018-01-28 17:59:20+00:00,58563,256,45,30
Funny College Scenes ft. Pichi Yakuu | Warangal Diaries,Warangal Diaries,23,Himachal Pradesh,31.100025,77.166597,POINT (77.16659704 31.10002545),False,False,False,2018-04-18,2018-04-16 08:03:55+00:00,153387,8839,268,1529
ANT-MAN AND THE WASP Trailer # 2 TEASER (NEW 2018) Ant-Man 2 Superhero Movie HD,ONE Media,1,Sikkim,27.333330,88.616647,POINT (88.6166475 27.3333303),False,False,False,2018-05-02,2018-04-30 22:25:33+00:00,1089236,9928,416,577

In [6]:
datac_lasts.reset_index(inplace=True)

In [7]:
datac_lasts['trending_count'] = data.groupby(['video_id', 'title', 'channel_title', 'category_id']).size().reset_index(name='q')['q']

In [8]:
datac_lasts.head()

,video_id,title,channel_title,category_id,state,lat,lon,geometry,comments_disabled,ratings_disabled,video_error_or_removed,trending_date,publish_time,views,likes,dislikes,comment_count,trending_count
0,#NAME?,#DeepthiSunaina Cheema joke chepthe navvali..N...,Star Maa,24,Meghalaya,25.570492,91.880014,POINT (91.88001420000001 25.57049217),False,False,False,2018-06-14,2018-06-12 05:44:19+00:00,1014376,5974,1414,1132,2
1,#NAME?,#MahaaNews Sensation: #MaheshKathi Leaves From...,Mahaa News,25,Goa,15.491997,73.818001,POINT (73.81800065 15.491997),False,False,False,2018-01-12,2018-01-07 16:00:29+00:00,1912194,23861,2492,9520,2
2,#NAME?,#SRK Leaks - No Virgin Actresses In Indian Fil...,Nettv4u,24,Goa,15.491997,73.818001,POINT (73.81800065 15.491997),False,False,False,2018-04-25,2018-04-22 06:30:00+00:00,432700,2456,439,227,3
3,#NAME?,#‡Æö‡Æø‡Æ©‡Øç‡Æ©‡Æ§‡ÆÆ‡Øç‡Æ™‡Æø | 26th February - 2nd March 2018 ...,Vijay Television,24,West Bengal,22.580390,88.329947,POINT (88.32994665 22.58039044),False,False,False,2018-02-28,2018-02-26 07:06:20+00:00,454944,1447,145,134,2
4,#NAME?,"11 December, 2017 The Hindu Discussion, Wassen...",only ias,27,Lakshadweep,10.562573,72.636867,POINT (72.63686717 10.56257331),True,True,False,2017-12-12,2017-12-11 02:30:23+00:00,29607,0,0,0,1

In [9]:
datac_lasts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16809 entries, 0 to 16808
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                16809 non-null  object
 1   title                   16809 non-null  object
 2   channel_title           16809 non-null  object
 3   category_id             16809 non-null  int64
 4   state                   16809 non-null  object
 5   lat                     16809 non-null  float64
 6   lon                     16809 non-null  float64
 7   geometry                16809 non-null  object
 8   comments_disabled       16809 non-null  bool
 9   ratings_disabled        16809 non-null  bool
 10  video_error_or_removed  16809 non-null  bool
 11  trending_date           16809 non-null  datetime64[ns]
 12  publish_time            16809 non-null  datetime64[ns, UTC]
 13  views                   16809 non-null  int32
 14  likes                   16809 non-null  int32
 15  dislikes                16809 non-null  int32
 16  comment_count           16809 non-null  int32
 17  trending_count          16809 non-null  int64
dtypes: bool(3), datetime64[ns, UTC](1), datetime64[ns](1), float64(2), int32(4), int64(2), object(5)
memory usage: 1.7+ MB

## Data con categor√≠as

In [10]:
data_cat = datac_lasts.join(categories.set_index('id'), on='category_id')
data_cat.head()

,video_id,title,channel_title,category_id,state,lat,lon,geometry,comments_disabled,ratings_disabled,...,views,likes,dislikes,comment_count,trending_count,kind,etag,snippet.channelId,snippet.title,snippet.assignable
0,#NAME?,#DeepthiSunaina Cheema joke chepthe navvali..N...,Star Maa,24,Meghalaya,25.570492,91.880014,POINT (91.88001420000001 25.57049217),False,False,...,1014376,5974,1414,1132,2,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UVB9oxX2Bvqa_w_y3...",UCBR8-60-B28hp2BmDPdntcQ,Entertainment,True
1,#NAME?,#MahaaNews Sensation: #MaheshKathi Leaves From...,Mahaa News,25,Goa,15.491997,73.818001,POINT (73.81800065 15.491997),False,False,...,1912194,23861,2492,9520,2,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/QiLK0ZIrFoORdk_g2...",UCBR8-60-B28hp2BmDPdntcQ,News & Politics,True
2,#NAME?,#SRK Leaks - No Virgin Actresses In Indian Fil...,Nettv4u,24,Goa,15.491997,73.818001,POINT (73.81800065 15.491997),False,False,...,432700,2456,439,227,3,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UVB9oxX2Bvqa_w_y3...",UCBR8-60-B28hp2BmDPdntcQ,Entertainment,True
3,#NAME?,#‡Æö‡Æø‡Æ©‡Øç‡Æ©‡Æ§‡ÆÆ‡Øç‡Æ™‡Æø | 26th February - 2nd March 2018 ...,Vijay Television,24,West Bengal,22.580390,88.329947,POINT (88.32994665 22.58039044),False,False,...,454944,1447,145,134,2,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UVB9oxX2Bvqa_w_y3...",UCBR8-60-B28hp2BmDPdntcQ,Entertainment,True
4,#NAME?,"11 December, 2017 The Hindu Discussion, Wassen...",only ias,27,Lakshadweep,10.562573,72.636867,POINT (72.63686717 10.56257331),True,True,...,29607,0,0,0,1,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/EoYkczo9I3RCf96Rv...",UCBR8-60-B28hp2BmDPdntcQ,Education,True

In [11]:
print(len(data_cat))

16809

In [12]:
data_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16809 entries, 0 to 16808
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                16809 non-null  object
 1   title                   16809 non-null  object
 2   channel_title           16809 non-null  object
 3   category_id             16809 non-null  object
 4   state                   16809 non-null  object
 5   lat                     16809 non-null  float64
 6   lon                     16809 non-null  float64
 7   geometry                16809 non-null  object
 8   comments_disabled       16809 non-null  bool
 9   ratings_disabled        16809 non-null  bool
 10  video_error_or_removed  16809 non-null  bool
 11  trending_date           16809 non-null  datetime64[ns]
 12  publish_time            16809 non-null  datetime64[ns, UTC]
 13  views                   16809 non-null  int32
 14  likes                   16809 non-null  int32
 15  dislikes                16809 non-null  int32
 16  comment_count           16809 non-null  int32
 17  trending_count          16809 non-null  int64
 18  kind                    16736 non-null  object
 19  etag                    16736 non-null  object
 20  snippet.channelId       16736 non-null  object
 21  snippet.title           16736 non-null  category
 22  snippet.assignable      16736 non-null  object
dtypes: bool(3), category(1), datetime64[ns, UTC](1), datetime64[ns](1), float64(2), int32(4), int64(1), object(10)
memory usage: 2.2+ MB

In [13]:
%store data_cat

Stored 'data_cat' (DataFrame)